:root {
    --clr-black: #171321;
    --clr-secondary: #0d314b;
    --clr-pink--dark: #ff17e4;
    --clr-pink--light: #e310cb;
    --clr-primary: #86fbfb;
    --clr-white: #f7f8fa;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
    
}

html {
    /* 62.5% of 16px base font size is 10px */
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
/* generic styles */


/* Preserve 16px body font-size, set body font-size to 1.6rem */
body {
    /* 16px */
    font-size: 1.6rem;
    margin: 0px;
    padding: 0px;
    background-color: var(--clr-black);
    font-family: var(--mono);
  }
h1, h2, h3{
    margin: 0px;
}  

a{
    color: var(--clr-pink--light);

    &:hover{
        text-decoration: none;
    }
    
}

.hero{
   
    color: var(--clr-white);

    .name{
        font-family: var(--mono);
            span{
                display: block;
                color: var(--clr-primary);
                font-size: 5rem;
                font-family: var(--sans);
            }
    }

}
